<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>User List</h1>

<table >
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Org Count</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}">a</td>
        <td th:text="${user.lastName}">b</td>
        <td th:text="${user.emailAddress}">c</td>
        <td th:text="${user.getOrgs().size()}"></td>
    </tr>
</table>
</body>
</html>